{% extends 'base.html' %}
{% block content %}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th,
    td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
</style>
    <h2>Motion Detection & Alarm Disable Logs</h2>
    <table>
        <thead>
            <tr>
                <th>Event</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
            <tr>
                <td>{{ log.event }}</td>
                <td>{{ log.timestamp }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}